.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  font-family: proxima_nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  border: none;
  padding-left: 5%;
  width: 90%;
  font-size: 1em;
  border-radius: 0px 0px 0px 8px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  border: none;
  width: 10%;
  height: 20px;
  border-radius: 0px 0px 8px 0px;
  margin: inherit;
}

.sendButton:active {
  transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
}
